@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <h1 class="display-4">CIT195 Project</h1>
        <p class="display-6">Learn about hawks in Northern Michigan!</p>
        <p class="display-6">Six different species that you can see!</p>
    </div>
    <div class="col-sm-10 grid-container">
        <div></div>
        <img src="images/HawkCollage.jpg" alt="Hawk Collage" class="image-right"/>
    </div>
</div>
